.item{
    width:400px;
    height:400px;
    background-color: bisque;
    border:2px solid red;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item h2{
    color: red;
    margin:5px;
    padding:5px;
}
.item h3{
    color: green;
    margin:5px;
    padding:5px;
}
.btn{
    background-color: black;
    color:white;
    height: 50px;
    width: 120px;
    font-size: 20px;
    border-radius: 20px;
}